---
import Layout from "../../components/Layout.astro";
import { getCollection } from "astro:content";
const posts = (await getCollection("posts")).sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
);

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Blog | Hackerspace Mumbai</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <>
  <body>
  <Layout>
      <article>
        <h1 class="text-2xl my-8 mx-4">POSTS</h1>
        <p class="mx-4">Welcome to the Hackerspace Mumbai blog! Here you can find our latest posts.</p>
        <ul>
        {posts.map(post => (
          <li class="mb-4 p-4 border-b border-gray-300 last:border-b-0">
            <a href={`/blog/${post.slug}/`}>
            <div class="text-xl underline">{post.data.title}</div>
            <p>{post.data.description}</p>
            </a>
            <small class="text-accent">
                By {post.data.author} on {new Date(post.data.date).toLocaleDateString('en-IN', { day: 'numeric', month: 'long', year: 'numeric' })}
            </small>
            
          </li>
        ))}
        </ul>
      </article>
  </Layout>
  </body>
  
</html>