---
// filepath: /home/indcoder/dev/hackmum_blog/blog/src/components/Footer.astro
---
<footer class="py-4 px-8 bg-primary text-black mt-auto">
  <p class="text-center">&copy; {new Date().getFullYear()} Hackerspace Mumbai's blog</p>
</footer>