---
import ThemeToggle from './ThemeToggle.astro';
---
 <header class="flex justify-between bg-primary text-primary-content font-bold px-4 py-3 shadow-md">
    <h1 class="text-lg md:text-xl hover:text-accent-foreground transition-colors">Hackerspace Mumbai</h1>
    <nav class="flex space-x-8">
        <a href="/" class="hover:text-accent transition-colors">Home</a>
        <a href="/blog/" class="hover:text-accent-foreground transition-colors">Blog</a>
        <a href="https://hackerspacemumbai.org/" class="hover:text-accent-foreground transition-colors">Main Site</a>

    </nav>
</header>