---

---
 <header class="flex justify-between bg-primary text-black font-bold px-2 py-2">
    <h1>Hackerspace Mumbai Blog</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/blog/">Blog</a>
        <a href="https://hackerspacemumbai.org/">Main Site</a>
    </nav>
</header>