---
---
<div
  class="prose dark:prose-invert
  prose-h1:font-bold prose-h1:text-xl 
  prose-a:text-primary prose-p:text-justify prose-img:rounded-xl
  prose-headings:underline prose-headings:text-primary max-w-none">
  <slot />
</div>